.vscode
*.swp
[dD][eE][vV][nN][oO][tT][eE][sS].md
# *[tT][eE][mM][pP]*
*[tT][oO][dD][oO]*
*.patch

cache/*
!cache/.gitkeep
*.zcompdump*
.zshconfig.json
.zsh_history # Prevent tracking of $HISTFILE if $HISTFILE defaults to $ZDOTDIR/.zsh_history instead of $HOME/.zsh_history